{% macro WhatsApp(link="") %}
<a href="{{ link }}" class="fixed left-10 bottom-10" target="_blank" rel="noopener noreferrer">
 
 <img class="fixed left-10 bottom-10 w-20" src="images/whatsapp.png">
</a>
{% endmacro %}