{% macro WhatsApp(link="") %}
<a href="{{ link }}" class="fixed left-10 bottom-10" target="_blank" rel="noopener noreferrer">
  <i class="fa-brands fa-whatsapp text-4xl animate-pulse"></i>
</a>
{% endmacro %}