{%macro footer()%}
 <div class=" mt-40 pb-16 pt-12 " style="background-color: #fbfbfb;">
            <div class=" flex justify-center ">
                <div class="w-6/12  flex justify-between text-gray-400  "> 
                    <a href="#">سياسات الخصوصية</a>
                    <a href="#">سياسة الاستبدال و الاسترجاع</a>
                    <a href="#">سياسة الشحن</a>
                    <a href="#">شروط الاستخدام</a>
                </div>
            </div>
                <div class=" text-gray-400 text-center mt-10">matajer agency. جميع الحقوق محفوظة. © 2024</div>
                <div class="  items-center flex justify-center gap-3 mt-10"><span style="color: rgb(5 150 105);">easyorders</span>Powered By </div>
        </div>
{%endmacro%}