{% macro field(name, value='', type='text') %}
 <div class="">
  <input type="text" class="input mt-1" placeholder="" required>
  <label class=" text-md text-red-500">هذا الحقل مطلوب</label>
 </div>
{% endmacro %}

{% macro textArea(name, value='', type='text') %}
 <div class="">
   <textarea type="text" class="input mt-1" rows="5" placeholder="" required></textarea>
 </div>
{% endmacro %}

{%macro label(text)%}
  <label>اسمك بالكامل</label>
{% endmacro %}
