{#  offer #}
{% macro offerProduct(offerTitle,listItems)%}

<div class="flex justify-between items-center gap-1 my-2">
    <div class="font-base font-bold"> {{offerTitle}}</div>

  
    <select class="flex-1 p-3 rounded-lg   text-green-800  outline-none bg-gray" id="">
        <option >cc</option>
        <option >cc</option>
        <option >cc</option>
        <option >cc</option>
          </select>
   </div>

 
 <script>
        document.addEventListener('DOMContentLoaded', function () {
            const selectButton = document.getElementById('select-button');
            const selectDropdown = document.getElementById('select-dropdown');

            selectButton.addEventListener('click', function () {
                const isOpen = selectDropdown.style.display === 'block';
                selectDropdown.style.display = isOpen ? 'none' : 'block';
                selectButton.classList.toggle('active', !isOpen);
            });

            selectDropdown.addEventListener('click', function (event) {
                if (event.target.tagName === 'LI') {
                    selectButton.textContent = event.target.textContent;
                    selectButton.appendChild(document.querySelector('.arrow'));
                    selectDropdown.style.display = 'none';
                    selectButton.classList.remove('active');
                }
            });

            document.addEventListener('click', function (event) {
                if (!selectButton.contains(event.target) && !selectDropdown.contains(event.target)) {
                    selectDropdown.style.display = 'none';
                    selectButton.classList.remove('active');
                }
            });
        });

    </script>

{% endmacro %}