{% macro ordersPrice(deliveryCost="شحت مجاني",Total="0")%}
<div class="font-base mt-10 font-lg">
                    <div class="flex    justify-between">
                        <div class=" text-gray">تكلفة الشحن</div>
                        <div class="font-bold">{{deliveryCost}}</div>
                    </div>
                    <div class="flex justify-between mt-3">
                        <div class=" text-gray">الاجمالي</div>
                        <div class=" font-bold">{{Total}} AED</div>
                    </div>
                </div>
{%endmacro%}