{% macro swiperContent(img)%}
 <div class="swiper-slide">
   <img src="{{img}}" alt="" srcset="">
</div>
 <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="2"
    style="width: 472px; margin-left: 5px;"><img
          src="{{img}}"
        alt="https://files.easy-orders.net/1721231001852431123.jpg"
         class="fasty_product_img aspect-1 h-full w-full rounded-lg object-cover object-center">
  </div>
{% endmacro %}