{%macro Head(text="")%}
<div class=" w-9/12 text-3xl text-mainColor font-bold text-center"
>{{text}}</div>
{%endmacro%}

{%macro Description(text="",class="")%}
 <div class=" {{class}} text-lg text-center mt-4">
                    {{text}}
                </div>
{%endmacro%}