{%macro Head(text="")%}
<div class=" lg:w-9/12 md:w-10/12 sm:w-11/12 w-full lg:text-3xl md:text-2xl text-xl text-mainColor font-bold text-center"
>{{text}}</div>
{%endmacro%}

{%macro Description(text="",class="")%}
 <div class=" {{class}} lg:text-lg  text-center mt-4">
                    {{text}}
                </div>
{%endmacro%}