    <!-- footer top -->
        <div class=" text-mainColor text-5xl font-bold bg-wheatColor w-full text-center py-8 mt-8"> <span
                class="text-red-600">#</span>وسع_افاقك</div>
        <!-- footer top -->

        <!-- footer -->
        <div class=" bg-sky w-full text-white md:pt-12 pb-5">
            <div class=" flex justify-center flex-col items-center">
                <div class="md:w-11/12 lg:w-9/12 w-11/12 lg:gap-3 flex flex-col md:flex-row justify-between">
                    <div class="lg:w-5/12 md:w-4/12">
                        <div class="h-6 mb-40"><img class="w-52 mb-5" src="/images/logo1.png"></div>
                        <div class="w-10/12 text-gray-200 text-sm my-2"> تأسست  المستشار للاستشارات وريادة الاعمال وتأسيس الشركات في عام 2005 بهدف مساعدة روّاد
                            الأعمال من مختلف الاعمار على تحقيق أحلامهم الريادية</div>
                    </div>
                    <div class="md:w-2/12">
                        <div class=" text-xl  mb-5">عن الشركة</div>
                        <div class=" text-gray-200 text-sm my-2">الرخصة الاستثمارية</div>
                        <div class=" text-gray-200 text-sm my-2">خدماتنا</div>
                        <div class=" text-gray-200 text-sm my-2">الأسئلة الشائعة</div>
                        <div class=" text-gray-200 text-sm my-2">الرخصة الاستثمارية</div>
                        <div class=" text-gray-200 text-sm my-2">المدونة</div>
                        <div class=" text-gray-200 text-sm my-2">تواصل معنا</div>
                    </div>
                    <div class="md:w-2/12">
                        <div class=" text-xl  mb-5">الخدمات</div>
                        <div class="text-gray-200 text-sm my-2">خدمات وزارة الاستثمار</div>
                        <div class="text-gray-200 text-sm my-2">خدمات وزارة التجارة</div>
                        <div class="text-gray-200 text-sm my-2">خدمات الهيئة العامة للزكاة والضريبة</div>
                        <div class="text-gray-200 text-sm my-2">خدمات وزارة العمل و التنمية الاجتماعية</div>
                        <div class="text-gray-200 text-sm my-2">خدمات التعقيب</div>
                        <div class="text-gray-200 text-sm my-2">خدمات وزارة التجارة</div>
                    </div>
                    <div class="md:w-3/12">
                        <div class=" text-xl  mb-5">المملكة العربية السعودية</div>
                        <div class="text-gray-200 text-sm my-2">العنوان :الرياض - طريق الملك فهد جنوب - حي الوشم - مركز الجفال التجاري - الدور ٣-مكتب ٢١ <span class=" font-semibold">12213</span> </div>
                        <div class="text-gray-200 font-semibold  text-sm mt-5">T: +0547794986</div>
                        <div class="text-gray-200 font-semibold  text-sm my-2">M: +0547794986</div>
                        <div class="text-gray-200 text-sm my-2">انقر للحصول على الموقع</div>
                    </div>

                </div>
                <div class="flex md:w-9/12 w-full flex-col md:flex-row justify-center mt-10 gap-4">
                    <div class="text-gray-300 text-sm text-center">© Copyright 2024  {{app.name}}. All rights reserved.</div>
                    <div class="flex justify-between gap-2">
                        <div class="text-gray-300 text-sm border-l pl-3">وظائف</div>
                        <div class="text-gray-300 text-sm border-l pl-3">سياسة الخصوصية</div>
                        <div class="text-gray-300 text-sm border-l pl-3">حقوق النشر</div>
                        <div class="text-gray-300 text-sm border-l pl-3">إخلاء مسؤولية</div>
                        <div class="text-gray-300 text-sm">خارطة الموقع</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->