<!-- start Header  -->
    <div class=" flex flex-col items-center justify-center bg-mainColor">
        <div class="w-9/12 text-white py-2 flex justify-between">

            <div>
                <span class="text-sm">اللغة</span>
                <i class="fa-solid fa-sort-down"></i>
            </div>

            <div class=" flex justify-between w-7/12">
                <a href="" class="flex items-center gap-1"><i class="fa-solid fa-phone"></i>0997 512 11 966+</a>
                <a href="" class="flex items-center gap-1"><i class="fa-brands fa-whatsapp"></i>0997 512 11 966+</a>
                <a href="" class="flex items-center gap-1"><i class="fa-solid fa-envelope"
                        style="color: #ffffff;"></i>info@businesslink.sa</a>
            </div>

        </div>
    </div>


    <div class="flex justify-center bg-white">
        <div class="w-10/12 flex justify-between py-6 ">
            <img class="w-80" src="images/logo-arabic.webp" alt="">
            <a class=" text-mainColor font-semibold" href=""> تأسيس الشركات</a>
            <a class=" text-mainColor font-semibold" href="">خدمات التعقيب</a>
            <a class=" text-mainColor font-semibold" href="">الرخصة الاستثمارية</a>
            <a class=" text-mainColor font-semibold" href="">خدماتنا</a>
            <a class=" text-mainColor font-semibold" href="">المدونة</a>
            <a class=" text-mainColor font-semibold" href="">الأسئلة الشائعة</a>
            <a class=" text-mainColor font-semibold" href="">تواصل معنا</a>
        </div>
    </div>


<div class="md:hidden lg:hidden   bg-white fixed shadow top-24 -left-52 transition-all duration-300 h-full z-999 w-52 rounded-r-lg " id="menu">
    <div class="mt-2 hover:bg-green-800 hover:text-white mt-2 px-5"><a class="text-center" href="/">المتجر</a></div>
    <div class="mt-2 hover:bg-green-800 hover:text-white mt-2 px-5"><a class="text-center" href="./pages/refund-policy.html">سياسة الاستبدال و الاسترجاع</a></div>
    <div class="mt-2 hover:bg-green-800 hover:text-white my-2 px-5"><a class="text-center" href="./pages/shipping-policy.html">سياسة الشحن</a></div>
</div>
    </div>
<script>
       function toggleMenu() {
    var menu = document.getElementById("menu");
    menu.classList.toggle("active");
}
</script>

<!-- End Header  -->