<!-- start Header  -->
  <div class=" overflow-x-hidden">
        <div class=" bg-green h-24">
            <div class=" text-white font-bold text-center text-lg">وفر أكثر من 100 درهم</div>
            <div class=" flex justify-center mt-3">
                <div class=" lg:w-10/12 md:10/12 w-full flex items-center lg:gap-2 md:gap-2 sm:gap-2 gap-1">
                    <div>
                        <img class="h-8 w-auto"
                            src="https://easyorders.fra1.digitaloceanspaces.com/1714864575025139370.jpg" alt="">
                    </div>
                    <div class="relative flex-1">
                        <input type="text" placeholder="أبحث عن..." class="input flex-1" value="">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true" class=" w-5 absolute left-2 top-3">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
                        </svg>

                    </div>
                </div>


            </div>
        </div>
        <div class=" hidden lg:flex md:flex sm:flex bg-white  w-full py-2 justify-center  header_links">
            <div class=" w-10/12 flex items-center  justify-start gap-4  ">
            <a class="text-center" href="/">المتجر</a>
            <a class="text-center" href="./pages/refund-policy.html">سياسة الاستبدال و الاسترجاع</a>
            <a class="text-center" href="./pages/shipping-policy.html">سياسة الشحن</a>
        </div>
</div>

<div class="lg:hidden md:hidden sm:hidden mx-10" onclick="toggleMenu()">
    <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect y="4" width="24" height="2" fill="black"/>
        <rect y="11" width="24" height="2" fill="black"/>
        <rect y="18" width="24" height="2" fill="black"/>
    </svg>
</div>
<div class=" lg:hidden md:hidden sm:hidden lg:relative md:relative sm:relative bg-white absolute shadow top-36 right-0 h-max z-999 w-40 rounded-l-lg hidden" id="menu">
    <div class="hover:bg-green-800 hover:text-white mt-2 px-5"><a class="text-center" href="/">المتجر</a></div>
    <div class="hover:bg-green-800 hover:text-white mt-2 px-5"><a class="text-center" href="./pages/refund-policy.html">سياسة الاستبدال و الاسترجاع</a></div>
    <div class="hover:bg-green-800 hover:text-white my-2 px-5"><a class="text-center" href="./pages/shipping-policy.html">سياسة الشحن</a></div>
</div>
    </div>

<!-- End Header  -->