<!-- start Header  -->
  <div class=" overflow-x-hidden">
        <div class=" bg-green h-24">
            <div class=" text-white font-bold text-center text-lg">وفر أكثر من 100 درهم</div>
            <div class=" flex justify-center mt-3">
                <div class=" lg:w-10/12 md:10/12 w-full flex items-center lg:gap-2 md:gap-2 sm:gap-2 gap-1">
                    <div>
                        <img class="h-8 w-auto"
                            src="https://easyorders.fra1.digitaloceanspaces.com/1714864575025139370.jpg" alt="">
                    </div>
                    <div class="relative flex-1">
                        <input type="text" placeholder="أبحث عن..." class="input flex-1" value="">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" aria-hidden="true" class=" w-5 absolute left-2 top-3">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"></path>
                        </svg>

                    </div>

                    <svg class="w-6 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor" aria-hidden="true"
                        class="flex-shrink-0 h-6 w-6 group-hover:text-gray-500 text-white">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z">
                        </path>
                    </svg>

                </div>

            </div>
        </div>
        <div class=" bg-white flex w-full py-2 justify-center  header_links">
            <div class=" w-10/12 flex items-center  justify-start gap-4  ">
            <a class="text-center" href="/">المتجر</a>
            <a class="text-center" href="./pages/refund-policy.html">سياسة الاستبدال و الاسترجاع</a>
            <a class="text-center" href="./pages/shipping-policy.html">سياسة الشحن</a>
        </div>
</div>

    </div>
<!-- End Header  -->