:root {
    --color-primary: 38, 101, 38;
    --color-a11y: 255, 255, 255;
    --skin-primary: #3498db;
    --dark-green: #266526;

}
*
{
    padding: 0;
    margin: 0;
}
a 
{
    text-decoration: none;
}
body,
html {
    direction: rtl;
    text-align: right;

}

span,
strong,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
button,
label,
input,
textarea,
dd,
dt {
    font-family: "Almarai";
}
.container
{
    margin-left: 120px;
    margin-right: 120px;
}
.bodyMain 
{
    display: flex;
    flex: 1;
    flex-direction:column;
    overflow: hidden;
}

/* start Header   */
.header
{
    background-color: var(--dark-green);
    width: 100%;
    z-index: 20;
    padding: 6px 0;
}
.header header 
{
    position: relative;
    /* background-color: #f9f9f9; */
}
.header header > .title 
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: bold;

}
.header header > nav
{
    background-color:var(--dark-green) ;
    width: 100%;
}

.containerNav
{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.logo 
{
    display: flex;
    margin: 0 4px;
}
 .logo  a img 
{
    height: 32px;
    width: auto;
}
.containerSearch
{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0 6px;
    margin-left: auto;
    flex: 1;
}
.containerSearch > div
{
    width: 100%;
    position: relative;

}
.containerSearch > div > .input 
{
    background-color: #ffffff;
    border: 0;
    width: 100%;
    flex: 1 1 0%;
    padding-top: 0.5rem; /* 8px */
    padding-bottom: 0.5rem; /* 8px */
    font-size: 1.125rem; /* 18px */
    line-height: 1.75rem; /* 28px */
    outline: 0;
    box-shadow: 0 0 0 0 transparent;
    border-radius: 0.25rem;
    padding-right: 10px;
}
.containerSearch > div > .iconSearch 
{
    width: 24px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 9px;
    margin-left: 9px;
}
.containerCart 
{
    margin-inline-start: 1rem; /* 16px */
    display: flow-root;
    position: relative;
    margin-right: 25px;
}
.containerCart > button 
{
    position: relative;
    display: flex;
    align-items: center;

}
.containerCart > svg
{
    flex-shrink: 0;
    width: 24px;
    height: 24px;
}
.containerCart   > .count
{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5px;
    right: -10px;
    font-size:x-small;
    font-weight: 600;
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.containerCart > button  > .count > span{
    color: black;
}
/* End Header   */
/* Start header_links   */
.header_links 
{
    background-color: #f9f9f9;
    padding: 15px 0;
    box-shadow: 4px;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1)
}
.header_links .links
{
    height: 100%;
    width:100% ;
    display: flex;
    gap: 32px;

}
.header_links .links > a 
{
    display: flex;
    font-weight: bold;
    align-items: center;
    font-size: .875rem;
    line-height: 1.25rem;
    color: black;
    text-decoration: none;
}
/* End header_links    */


/* Start Products   */
.headerTitle
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 6px;
    padding: 24px 0 ;
}
.headerTitle h3:nth-child(1)
{
    font-size: x-large;
    font-weight: bold;
}
.headerTitle a 
{
    color: #000;
}
.product
{
    margin-top: 20px;
}
.product .cards
{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 20px;
}
.product .cards .card > div
{
    padding: 10px;
}
.product .cards .card:hover
{
    margin-top: -10px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: 2px 0px 10px 2px rgba(0, 0, 0, 0.337);

}
.product .cards .card
{
    border-radius: 10px;
    overflow: hidden;
    
}
.product .cards .card img 
{
    width: 100% !important;
}
.product .cards .card > div > h5 
{
    padding: 4px;
    font-weight: bold;
    font-size: small;
    margin: 10px 0;
}

.product .cards .card > div > span:first-of-type 
{
    font-size: smaller;
    font-weight: lighter;
    text-decoration:line-through;
    margin-right: 5px;
}


.product .cards .card > div > span:last-of-type 
{
    font-size: medium;
    font-weight: bold;
}

/* End Products   */


/* Start Footer    */

footer
{
    background-color: #fbfbfb;
    padding: 50px 0;
    margin-top: 150px;

}

footer >  div:nth-child(1)
{
    margin:  0 auto;
    overflow: hidden;
    border: 1px solid white;
}
footer >  div:nth-child(1) nav 
{
    display: flex;
    margin: 4px 10px;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
footer >  div:nth-child(1) nav:nth-child(1)  div 
{
    padding: 6px 15px;
}
footer >  div:nth-child(1) nav:nth-child(1)  div  > a 
{
    color: #6b7280;
    text-decoration: none;
    font-size: medium;

}
footer >  div:nth-child(1) nav:nth-child(1)  div  > a:hover
{
    color: #111827;

}

footer >  div:nth-child(1) p
{
    /* mt-8 text-center text-base text-gray-400 */
    margin-top: 20px;
    text-align: center;
    font-size: medium;
    color: #9ca3af;
}

/* End Footer    */
/* Start Swiper    */

.swiper {
    width: 100%;
    /* height: 67vh; */
    margin-top: 5%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* End Footer    */

/*//////////////////////////// font //////////////////////*/

/* size */
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-xl {
    font-size: 1.25rem;
    
}
.text-lg {
    font-size: 1.1rem;
  
}
.text-base{
    font-size: 1rem;
}
.text-md{
    font-size: .875rem;
}
.text-sm{
    font-size: .75rem;
}
/* style */
.font-bold {
    font-weight: 700;
}
.line-h-1{
    line-height: 1.5;
}
.font-extrabold{
    font-weight: 800;
}
.font-base{
    font-family: "Almarai";
}

/*////////////// color//////////// */
/* text */
.text-yellow-500{
    color: rgb(234 179 8 );
}
.text-gray{
    color:rgb(107 114 128 )
 }
.text-white{
    color: white;
}
 /* spacing */
 .mt-1{
    margin-top: 0.25rem;
 }
 .mt-2{
    margin-top: 0.5rem;
 }
 .mt-3{
    margin-top: 0.75rem;
 }
 .mt-4{
    margin-top: 1rem;
 }
 .mt-5{
    margin-top: 1.25rem;
 }
 .mt-6{
    margin-top: 1.5rem;
 }
 .mt-7{
    margin-top: 1.75rem;
 }
 .mt-8{
    margin-top: 2rem;
 }
 .mt-9{
    margin-top: 2.25rem;
 }
 .mt-10{
    margin-top: 2.5rem;
 }
 .mt-11{
    margin-top: 2.75rem;
 }
 .mt-12{
    margin-top: 3rem;
 }  
 .mt-13{
    margin-top: 3.25rem;
 }  
 .mt-14{
    margin-top: 3.5rem;
 }  
 .mt-15{
    margin-top: 3.75rem;
 }  
 .mt-16{
    margin-top: 4rem;
 }  
 .mt-17{
    margin-top: 4.25rem;
 }  
 .mt-18{
    margin-top: 4.5rem;
 }  
 .mt-19{
    margin-top: 4.75rem;
 }  
 .mt-20{
    margin-top: 5rem;
 }
.mb-1{
    margin-bottom: 1rem;
}
.mb-2{
    margin-bottom: 2rem;
}
.mb-3{
    margin-bottom: 3rem;
}
.mb-4{
    margin-bottom: 4rem;
}
.mb-5{
    margin-bottom: 5rem;
}
.mb-6{
    margin-bottom: 6rem;
}
.mb-7{
    margin-bottom: 7rem;
}
.mb-8{
    margin-bottom: 8rem;
}
.mb-9{
    margin-bottom: 9rem;
}
.mb-10{
    margin-bottom: 10rem;
}
.mb-11{
    margin-bottom: 11rem;
}
.mb-12{
    margin-bottom: 12rem;
}

/* directions */
.flex {
    display:  flex;
}
.justify-between {
    justify-content: space-between;
}
.item-center {
    align-items: center;
}
.jucstify-center {
    justify-content: center;
}
.justify-start{
    justify-content: start;
}
.justify-end{
    justify-content: end;
}
.text-center{
    text-align: center;
}
.flex-col{
     flex-direction: column;
}
.item-start{
    align-items: start !important;
}
.flex-1{
    flex: 1;
}
.grid{
    display: grid;
}
.grid-columns-5{
    grid-template-columns: repeat(5, 1fr) !important;
}
.grid-columns-4{
    grid-template-columns: repeat(4, 1fr) !important;
}
.grid-columns-3{
    grid-template-columns: repeat(3, 1fr) !important;
}
/*///////////// width ////////*/

/* present */
.w-full{
    width: 100%;
}
.w-2-12{
    width: 16.666667%;
}
.w-3-12{
    width: 25%;
}
.w-4-12{
    width: 33.333333%;
}
.w-5-12{
    width: 41.666667%;
}
.w-5_5-12{
    width: 45.666667%;
}
.w-6-12{
    width: 50%;
}
.w-7-12{
    width: 58.333333%;
}
.w-8-12{
    width: 66.666667%;
}
.w-9-12{
    width: 75%;
}
.w-10-12{
    width: 83.333333%;
}
.w-11-12{
    width: 91.666667%;
}
.w-11-5-12{
    width: 95.666667%;

}
.w-max{
    width: max-content;
}
/* list */
.doc-inside{
    list-style-position: inside;
}
.doc-none{
    list-style-type: none;
}
/* overflow */

.overFlow-y-auto{
    overflow-y: auto;
}
.overFlow-x-hidden{
    overflow-x: hidden;
}
/* ather */

.cursor-pointer{
    cursor: pointer;
}



/* animation */

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-15px);
    }
    60% {
      transform: translateY(-7px);
    }
  }
  
  .animate-bounce {
    animation: bounce 1.8s ease infinite;
  }
  /* media */

  @media (min-width: 1025px) {

  }
  
  /* Tablet screens */
  @media (max-width: 1024px) {

.container {
    margin-left: 10px;
    margin-right: 10px;
  }
  }
  
  /* Mobile screens */
  @media (max-width: 600px) {
    body {
      background-color: lightcoral;
    }
  }