:root{
    --mainColor : #003462;
    --secoundColor : #335d81;
    --wheatColor : #f1f1f1;
}
.bg-mainColor{
    background-color: var(--mainColor);
}
.text-mainColor{
    color: var(--mainColor);
}
.bg-secoundColor{
    background-color: var(--secoundColor);
}
.text-secoundColor{
    color: var(--secoundColor);
}
.bg-wheatColor{
    background-color: var(--wheatColor);
}
.text-wheatColor{
    color: var(--wheatColor);
}

.swiper {
  /* width: 600px; */
  /* height: 300px; */
}
.bg-form{
    background-image: url(/images/bg-form.webp);
    background-size: 100% 100%;
}
.swiper-button-next{
     right: 40px !important;
}
.swiper-button-next, .swiper-button-prev{
    top: 40px !important;
    color: white;
}

@media (min-width: 1024px){
    .vedio{
        height:750px;
    }
    #menu.active {
        display: hidden !important;

    }
}

@media (min-width: 768px) {
    .vedio{
        height:750px;
    }
}
@media (min-width: 640px) {
    .vedio{
        height:750px;
    }
}
@media (max-width: 640px) {
    .vedio{
        height:550px;
    }
}
.z-999{
    z-index: 999;
}

#menu.active {
    display: block;
    height: auto !important;
}
.hidden-menu {
    height: 0 !important;
    overflow: hidden;
    display: none !important;
}
.hidden-menu > div {
    display: none !important;
}