{% extends "layouts/layout.njk" %}
{% from "common/components/product.njk" import product %}
{% block title %}متجرك - الصفحة الرئيسية{% endblock %}
{% block content %}
    <div class="bodyMain"> 

    
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="images/landing.png" alt="" srcset="">
            </div>
            <div class="swiper-slide">
                <img src="images/landing.png" alt="" srcset="">
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
    <div class="container">
        <div class="headerTitle">
            <h3> مقترحة لك</h3>
        </div>

        <div class="product">
            <div class="cards">
                {% for item in products %}
                    {{ product(title=item.title,priceAfterDiscount=item.priceAfterDiscount,price=item.price,imageUrl=item.images[0].imageUrl,slug=item.slug) }}
                {% endfor %}
            </div>
        </div>
    </div>
        {% include "common/footer.njk" ignore missing %}
    
    </div>
{% endblock %}

