{% extends "layouts/layout.njk" %}
{% from "common/components/product.njk" import product %}
{% from "common/components/LandingPage/vedio/index.njk" import SectionVedio %}
{% from "common/components/LandingPage/headers/index.njk" import Head,Description %}
{% from "common/components/LandingPage/cards/index.njk" import CardAbout,CardArticles %}
{% from "common/components/LandingPage/lists/index.njk" import ListItem %}
{% from "common/components/LandingPage/swipper/index.njk" import Swipper1,Swipper2,Swipper3 %}
{% from "common/components/LandingPage/map/index.njk" import MapDetails %}
{% from "common/components/LandingPage/form/index.njk" import textarea,inputPhone,input %}
{# {{ app|dump }} #}
{% block title %}متجرك - {{ page.title }} {% endblock %}
{% block content %}
    <!-- vedio -->
{{SectionVedio(vedioUrl="/images/saudi arabia.mp4",doc="نفخر بفريق بيزنس لينك الخبير والمؤهل للتعامل مع اجراءات تأسيس الشركات
في السعودية. نحن نقدم لك ليس فقط استشارات متخصصة بل ودعمًا شاملاً
يمنحك انطلاق قوي وناجح في سوق الأعمال والتجارة السعودي.",
btnText="احصل على استشارة مجانية",imgUrl="images/GOOGLE-REVIEWS-1-1.webp")}}
    <!-- vedio -->

    <!-- content -->
    <div class="flex flex-col items-center justify-center  ">
        <div class="lg:w-9/12 md:w-10/12 sm:w-11/12 w-full">
            <!-- small about -->
            <div class="flex flex-col items-center justify-center mt-16">
 {# <code dir="ltr" >{{ app|dump(2) }}</code> #}
 {# {{app.fileName}} #}
 
               {{Head(text="المستشار للاستشارات وريادة الاعمال وتأسيس الشركات")}}

               {{Description(text="تتقدم بيزنس لينك خدمات استشارية احترافية لتمكينك داخل المملكة من خلال تأسيس شركة مملوكة بالكامل تحظى
                    بالعديد من المزايا الاستثمارية، مع الالتزام باللوائح الحكومية ومتطلبات هيئة الاستثمار. نلتزم بتقديم
                    خدمات موثوقة لترتقي بأعمالك في السعودية بالمجهود والوقت الأقل.",class="font-semibold  text-mainColor")}}


            </div>
            <!-- small about -->

            <!-- cards -->
            <div class=" grid  lg:grid-cols-2 md:grid-cols-2 gap-4 mt-8 ">
                {# {%for item in card%}
                {%endfor%} #}
             {{CardAbout(title="تأسيس شركة ذات مسؤولية محدودة في السعودية",
             firstText="هي الشكل الأكثر شيوعا للدخول في مشاريع مشتركة مع شركاء سعوديين، يؤسسها شخص واحد أو أكثر.وتعد ذمتها مستقلة عن الذمة 
             المالية لكل شريك فيها، ولا يكون الشريك فيها مسؤولاً عن الديون والالتزامات إلا بقدر حصته في رأس المال",secoundText="خبراء بيزنس لينك على دراية بكافة الأنظمة ولوائح تأسيس الشركات في السعودية. فريقنا
              مؤهل للقيام بكافة إجراءات التأسيس وخدمات إدارة الشؤون القانونية للشركة.")}}

              {{CardAbout(title="تأسيس شركة ذات مسؤولية محدودة في السعودية",
             firstText="هي الشكل الأكثر شيوعا للدخول في مشاريع مشتركة مع شركاء سعوديين، يؤسسها شخص واحد أو أكثر.وتعد ذمتها مستقلة عن الذمة 
             المالية لكل شريك فيها، ولا يكون الشريك فيها مسؤولاً عن الديون والالتزامات إلا بقدر حصته في رأس المال",secoundText="خبراء بيزنس لينك على دراية بكافة الأنظمة ولوائح تأسيس الشركات في السعودية. فريقنا
              مؤهل للقيام بكافة إجراءات التأسيس وخدمات إدارة الشؤون القانونية للشركة.")}}
         
         
          
          
          
            </div>
            <!-- cards -->

        </div>


        <!-- التعقيب  -->
        <div class=" bg-wheatColor w-full flex flex-col items-center mt-14 py-14">

            
               {{Head(text="خدمات التعقيب في المملكة العربية السعودية")}}

              <div class="lg:w-9/12 ">
                 {{Description(text="خبرائنا على استعداد لتقديم خدمات التعقيب بشمولية و مهنية مع كل الجهات والمصالح الحكومية والمؤسسات العامة من وزارة التجارة، هيئة الاستثمار، الأمانات والبلديات، وجهات استخراج الرخص ومكاتب العمل.",
                 class=" text-secoundColor"
                 )}}
            </div>
            <div class=" grid lg:grid-cols-2 md:grid-cols-2 grid-cols-1 gap-6 w-11/12 text-secoundColor mt-8">
                <ul>
                    {%for item in ["خدمات تسجيل العلامات التجارية","رخصة الأستثمار","سجل تجاري","عقد التأسيس","ترخيص خدمي"]%}
                   {{ListItem(text=item)}}
                    {%endfor%}
                
                </ul>
                <ul>
                  {%for item in ["اشتراك في جميع المنصات الحكومية ","تأشيرة المدير العام ","فتح حساب بنكي","ترخيص زراعي","ترخيص صناعي"]%}
                   {{ListItem(text=item)}}
                    {%endfor%}
                </ul>
    
            </div>
        </div>
        <!-- التعقيب  -->


        <div class=" w-full flex flex-col items-center lg:mt-14 md:mt-14 mt-6 py-14">

               {{Head(text="شركاء مسيرة النجاح")}}

              <div class="w-10/12"> {{Description(text="لقد كان لنا شرف العمل مع باقة متنوعة من العملاء، بدءاً من الشركات الناشئة 
               وصولاً إلى الشركات الكبيرة.
                نحن ملتزمون بتقديم حلول متخصصة تلبي احتياجات تاسيس الشركات في السعودية.",class="text-secoundColor")}}
                 </div>
            <div class="w-9/12 mt-8">
                <!-- Swiper -->
              {{ Swipper1(["/images/clientimg1.jpg", "/images/clientimg2.jpg", "/images/clientimg3.jpg", "/images/clientimg4.jpg", "/images/clientimg5.jpg"]) }}
                <!-- Swiper -->

            </div>
        </div>

        <!-- التقديم -->
        <div class=" lg:h-screen w-full">
            <div class=" relative bg-form lg:h-3/4 w-full flex flex-col items-center mt-14 py-14">
                <div class="absolute top-0 right-0 left-0 bottom-0 bg-mainColor opacity-80"></div>
                <div class=" flex w-full justify-center">
                    <div class="flex flex-col-reverse lg:flex-row w-10/12 justify-around ">
                        <!-- form -->

                        <div class=" lg:relative bg-black z-50 lg:w-2/5 -top-28 px-4 py-6 text-white">
                            <div class=" font-bold lg:text-3xl text-2xl w-full text-center mb-9 mt-4">احصل على استشارة مجانية</div>
                            <form>
                                <div class="flex justify-between gap-4">
                              {{input(placeholder="الاسم")}}
                                </div>
                                <div class="my-8">
                              {{input(placeholder="رقم التليفون")}}
                                </div>
                        
                                <div class="mt-8">
                              {{input(placeholder="المدينة المقام فيها ")}}


                                </div>
                                 <div class="mt-8">
                              {{input(placeholder="الجنسية")}}


                                </div>
                                 <div class="mt-8">
                              {{input(placeholder="نوع النشاط")}}


                                </div>
                                <div class=" my-16">
                                    <button class=" w-full py-2 bg-red-600 rounded-lg">التقديم</button>
                                </div>
                            </form>
                        </div>
                        <div class=" z-40 hidden lg:block  lg:w-5/12 flex items-center" style="height: 24rem;">
                            <!-- form -->


                            <!-- Swiper -->

                           


                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- التقديم -->


        <!-- our team in environment -->
        <div class=" w-full flex flex-col items-center mt-14 py-14">

         {{Head(text="شركاؤنا من الجهات الحكومية")}}

            <div class="w-9/12 mt-8">
                <!-- Swiper -->
                {{Swipper2(imgsUrl="/images/prand.png")}}
            </div>
        </div>
        <!-- our team in environment -->

         {{Head(text="بعض عملائنا")}}
        <div class=" lg:w-9/12 w-11/12">
            <div class=" sm:mx-20 md:mx-auto mt-8 grid lg:grid-cols-3 md:grid-cols-3 grid-cols-1 gap-4">
           {% set articles = [
    {image: "images/cardn1.jpg", text: "فتح شركة تأجير سيارات في السعودية: دليل المستثمر", date: "يونيو 28, 2024"},
    {image: "images/cardn2.jpg", text:  "فتح شركة تأجير سيارات في السعودية: دليل المستثمر", date: "يوليو 15, 2024"},
    {image: "images/cardn3.jpg", text:  "فتح شركة تأجير سيارات في السعودية: دليل المستثمر", date: "أغسطس 1, 2024"},
    {image: "images/cardn4.jpg", text:  "فتح شركة تأجير سيارات في السعودية: دليل المستثمر", date: "أغسطس 1, 2024"},
    {image: "images/cardn5.jpg", text:  "فتح شركة تأجير سيارات في السعودية: دليل المستثمر", date: "أغسطس 1, 2024"},
    {image: "images/cardn6.jpg", text:  "فتح شركة تأجير سيارات في السعودية: دليل المستثمر", date: "أغسطس 1, 2024"}
] %}

{% for item in articles %}
    {{ CardArticles(image=item.image, text=item.text, date=item.date) }}
{% endfor %}
            </div>

            <div class=" text-mainColor my-20 flex justify-center">
                <a class=" bg-red-500  text-white px-12 py-1 rounded-md border border-dotted border-opacity-55 border-white "
                    href="">اخر الاخبار</a>
            </div>

        </div>

        <div class=" lg:w-9/12 w-11/12">
            <div class="flex  justify-center gap-10">
               
                <div class="lg:w-1/2 w-full">
                 {{MapDetails(title="الرياض - طريق الملك فهد جنوب - حي الوشم - مركز الجفال التجاري - الدور ٣-مكتب ٢١ ",src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3627.2800948994313!2d46.70948310642849!3d24.614029358763283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2f057820bfe37b%3A0x3c010e6507acd828!2z2YXYsdmD2LIg2KfZhNis2YHYp9mEINin2YTYqtis2KfYsdmK!5e0!3m2!1sar!2seg!4v1722449947208!5m2!1sar!2seg")}}
                </div>
            </div>
        </div>

    </div>
    <!-- content -->

{% endblock %}

