{% extends "layouts/layout.njk" %}
{% block title %}متجرك - الصفحة الرئيسية{% endblock %}

{% from "common/components/product.njk" import productPrice %}
{% from "common/components/product/form.njk" import field,textArea,label%}
{% from "common/components/product/swipper.njk" import swiperContent%}
{% from "common/components/product/aboutProduct.njk" import aboutProduct%}
{% from "common/components/product/productPrice.njk" import productPrice%}
{% from "common/components/product/productDetail.njk" import productDetails%}
{% from "common/components/product/offerProduct.njk" import offerProduct%}
{% from "common/components/product/orderPrice.njk" import ordersPrice%}
{% from "common/components/product/footer.njk" import footer%}
{% block content %}
   
<div class=" flex justify-center">
        <div class=" w-10/12">
    <div class="relative lg:grid lg:grid-cols-2 mt-10 lg:items-start lg:gap-x-8 lg:gap-x-6 lg:grid-cols-5">
        <div class="lg:sticky lg:top-20  lg:col-span-2">
            <div dir="rtl" class="c relative">
                <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-rtl rounded-md">
                    <div class="swiper-wrapper" style="transform: translate3d(477px, 0px, 0px); transition-duration: 0ms;">
                        
             {%for item in product.images %}
            {{swiperContent (img=item.imageUrl)}}
            {%endfor %}
                   
                    </div>
                    <div
                        class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal">
                        <span
                            class="swiper-pagination-bullet transition-all duration-300 ease-in-out !bg-black swiper-pagination-bullet-active !w-6 !opacity-100 !rounded-full"></span><span
                            class="swiper-pagination-bullet transition-all duration-300 ease-in-out !bg-black"></span><span
                            class="swiper-pagination-bullet transition-all duration-300 ease-in-out !bg-black"></span></div>
                </div>
                <div class="slider_buttons_container hidden absolute top-2/4 z-10 md:flex w-full items-center"><button
                        aria-label="prev-button"
                        class="slider_button text-lg lg:text-2xl duration-250 absolute flex transform items-center justify-center text-black transition start-3 hover:text-black/70 focus:outline-none rotate-180 "><svg
                            stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                            width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path d="M11.67 3.87L9.9 2.1 0 12l9.9 9.9 1.77-1.77L3.54 12z"></path>
                        </svg></button><button aria-label="next-button"
                        class="slider_button text-lg lg:text-2xl duration-250 absolute flex transform items-center justify-center text-black transition end-3 hover:text-black/70 focus:outline-none rotate-180  "><svg
                            stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em"
                            width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path fill="none" d="M0 0h24v24H0V0z"></path>
                            <path d="M6.23 20.23L8 22l10-10L8 2 6.23 3.77 14.46 12z"></path>
                        </svg></button></div>
                <div
                    class="product_gallery_btns_container absolute flex items-center max-lg:bottom-5 max-lg:start-2 z-20 gap-2 lg:end-4 lg:top-4">
                    <button
                        class="rounded-xl  border p-2 leading-none border-gray-300 left-0 product_gallery_wishlist_btn text-[#6b7280] bg-white rounded-full border-none w-9 h-9"><svg
                            stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
                            stroke-linejoin="round" class="h-5 w-5 cursor-pointer" height="1em" width="1em"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                            </path>
                        </svg></button>
                    <div class="relative" data-headlessui-state=""><button
                            class="mt-5 flex items-center gap-3 leading-none focus:outline-none product_gallery_share_btn w-9 h-9 [&amp;>span>svg]:text-[#6b7280] [&amp;>span]:bg-white [&amp;>span]:rounded-full border-none [&amp;>#share]:hidden mt-0"
                            id="headlessui-popover-button-:Rbiqq6:" type="button" aria-expanded="false"
                            data-headlessui-state=""><span class="rounded-xl border p-2"><svg stroke="currentColor"
                                    fill="currentColor" stroke-width="0" viewBox="0 0 512 512" class="h-5 w-5" height="1em"
                                    width="1em" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M383.822 344.427c-16.045 0-31.024 5.326-41.721 15.979l-152.957-88.42c1.071-5.328 2.142-9.593 2.142-14.919 0-5.328-1.071-9.593-2.142-14.919l150.826-87.35c11.762 10.653 26.741 17.041 43.852 17.041 35.295 0 64.178-28.766 64.178-63.92C448 72.767 419.117 44 383.822 44c-35.297 0-64.179 28.767-64.179 63.92 0 5.327 1.065 9.593 2.142 14.919l-150.821 87.35c-11.767-10.654-26.741-17.041-43.856-17.041-35.296 0-63.108 28.766-63.108 63.92 0 35.153 28.877 63.92 64.178 63.92 17.115 0 32.089-6.389 43.856-17.042l151.891 88.421c-1.076 4.255-2.141 8.521-2.141 13.847 0 34.094 27.806 61.787 62.037 61.787 34.229 0 62.036-27.693 62.036-61.787.001-34.094-27.805-61.787-62.035-61.787z">
                                    </path>
                                </svg></span><span id="share">مشاركة المنتج</span></button></div>
                </div>
            </div>
        </div>
        
        <div class="mt-10 sm:mt-16 sm:px-0 lg:mt-0  mt-4 sm:mt-16 lg:col-span-3">
            <div class="bg-white rounded-md p-4">
                <div class="relative">
                    <style>
                        #tabs,
                        header {
                            display: none !important;
                        }
    
                        #__next div.pt-16 {
                            padding-top: 0 !important;
                        }
                    </style>
                        {{productDetails(title="مغسلة السيارات الالمانية",rateNumbers=5,oldPrice="99",currentPrice="150")}}
            
                </div>
                <div>

                </div>
        {{offerProduct(offerTitle="احصل علي خصم",listItems=["asd","asd","asd"])}}
          
                <div class=" px-3 bg-gridant-blue  lg:rounded-full xl:rounded-full 2xl:rounded-full md:rounded-lg
                 sm:rounded-lg xs:rounded-lg py-5 flex  rounded-full   text-white justify-between mt-5">

                    <div class="flex  item-center ">
        
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="rgb(59 130 246)" aria-hidden="true"
                            class="h-12 w-12 animate-bounce text-blue-500">
                            <path fill-rule="evenodd"
                                d="M13.5 4.938a7 7 0 11-9.006 1.737c.202-.257.59-.218.793.039.278.352.594.672.943.954.332.269.786-.049.773-.476a5.977 5.977 0 01.572-2.759 6.026 6.026 0 012.486-2.665c.247-.14.55-.016.677.238A6.967 6.967 0 0013.5 4.938zM14 12a4 4 0 01-4 4c-1.913 0-3.52-1.398-3.91-3.182-.093-.429.44-.643.814-.413a4.043 4.043 0 001.601.564c.303.038.531-.24.51-.544a5.975 5.975 0 011.315-4.192.447.447 0 01.431-.16A4.001 4.001 0 0114 12z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <div class=" font-bold flex items-center font-base">ينتهي العرض في</div>
        
                    </div>
        
        
                    <div class="grid grid-cols-4 gap-3">
                        <div>
                            <div class=" text-center font-bold font-base">0</div>
                            <div class=" text-center font-base mt-1">ثواني</div>
                        </div>
                        <div>
                            <div class=" text-center font-bold font-base">0</div>
                            <div class=" text-center font-base mt-1">دقائق</div>
                        </div>
                        <div>
                            <div class=" text-center font-bold font-base">0</div>
                            <div class=" text-center font-base mt-1">ساعات</div>
                        </div>
                        <div>
                            <div class=" text-center font-bold font-base">0</div>
                            <div class=" text-center font-base mt-1">ايام</div>
                        </div>
                    </div>
        
                </div>
      
      
        <div class=" text-red-600 font-bold text-lg  mt-2">فقط متبقي 13 قطعة</div>
                
                <div class="bg-gray w-full flex justify-end rounded-md">
                    <div class="bg-grident-color w-11/12 h-4 flex rounded-md">
                        <span style="visibility: hidden;">present%</span>
                    </div>
                </div>
                <div class=" w-full mt-10">
                    <button class="btn-order rounded-full w-full py-3 font-base text-lg">اطلب الان</button>
                </div>
                <div class="mt-5 flex flex-col gap-2 lg:flex-row"><button style="font-family: Almarai;"
                        class="flex items-center justify-center px-8 text-base font-medium   transition-colors duration-200 ease-in-out focus:outline-none w-full border border-transparent bg-skin-primary  hover:bg-skin-primary hover:bg-opacity-80 active:bg-opacity-90 text-white rounded-md py-2  checkout_btn">اضغط
                        هنا للشراء</button></div>
            </div>
            <div class="mt-1">
                <div class="product_tabs_container w-full">
                    <div class="flex justify-start gap-2 " role="tablist" aria-orientation="horizontal"><button
                            class="flex items-center gap-2 rounded-t-md p-2  font-medium  focus:outline-none focus:ring-0 bg-black text-white shadow"
                            id="headlessui-tabs-tab-:r0:" role="tab" type="button" aria-selected="true" tabindex="0"
                            data-headlessui-state="selected" aria-controls="headlessui-tabs-panel-:r1:"><svg
                                stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512"
                                class="inline-block w-5 h-5" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                <path fill="none" stroke-linejoin="round" stroke-width="32"
                                    d="M368 415.86V72a24.07 24.07 0 00-24-24H72a24.07 24.07 0 00-24 24v352a40.12 40.12 0 0040 40h328">
                                </path>
                                <path fill="none" stroke-linejoin="round" stroke-width="32"
                                    d="M416 464h0a48 48 0 01-48-48V128h72a24 24 0 0124 24v264a48 48 0 01-48 48z"></path>
                                <path fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"
                                    d="M240 128h64m-64 64h64m-192 64h192m-192 64h192m-192 64h192"></path>
                                <path
                                    d="M176 208h-64a16 16 0 01-16-16v-64a16 16 0 0116-16h64a16 16 0 0116 16v64a16 16 0 01-16 16z">
                                </path>
                            </svg>تفاصيل المنتج</button></div>
                    <div>
                        <div class="product_description rounded-b-md bg-white p-5" id="headlessui-tabs-panel-:r1:"
                            role="tabpanel" tabindex="0" data-headlessui-state="selected"
                            aria-labelledby="headlessui-tabs-tab-:r0:">
                            <div class="ql-editor leading-10 py-2" dir="auto" style="text-align: start;">

                                <p class="ql-align-right">جهاز تجفيف و كي الملابس</p>
                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="">
            <div class=" font-base text-xl font-bold">يرجى ادخال معلوماتك لإكمال الطلب</div>
            <div class=" font-base text-base mt-5">عدد القطع</div>
            <div class="grid grid-cols-3 w-2/12 mt-3">
                <button class="digital-btn outline-none   rounded-md  w-max">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                        class="w-4 cursor-pointer h-4 text-gray-900">
                        <path fill-rule="evenodd"
                            d="M12 3.75a.75.75 0 01.75.75v6.75h6.75a.75.75 0 010 1.5h-6.75v6.75a.75.75 0 01-1.5 0v-6.75H4.5a.75.75 0 010-1.5h6.75V4.5a.75.75 0 01.75-.75z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
                <div class=" py-1 px-3 rounded-md font-base  w-max">1</div>
                <button class="digital-btn outline-none   rounded-md  w-max">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                        class="w-4 cursor-pointer h-4 text-gray-900">
                        <path fill-rule="evenodd"
                            d="M3.75 12a.75.75 0 01.75-.75h15a.75.75 0 010 1.5h-15a.75.75 0 01-.75-.75z"
                            clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </div>
            <div class="product_form_checkout mt-6 bg-white p-4 rounded-md">
                <p class="text-lg font-bold">يرجى ادخال معلوماتك لإكمال الطلب</p>
                   <form>
                <div>
                    {# <label>اسمك بالكامل</label> #}
                    {# <input type="text" class="input mt-1" placeholder="" required> #}
                    {{ label(text='اسمك بالكامل') }}
                    {{ field(name, value='', type='text') }}
                    {{ label(text='هذا الحقل مطلوب') }}

                </div>
                <div class="mt-4">
                    {{ label(text='رقم الهاتف') }}
                    {{ field(name, value='', type='text') }}
                    {{ label(text='هذا الحقل مطلوب') }}
                </div>
                <div class="mt-4">
                    {{ label(text='العنوان بالتفصيل') }}
                    {{ field(name, value='', type='text') }}
                    {{ label(text='هذا الحقل مطلوب') }}
                </div>

                <div class="font-base mt-10 font-lg">
                    {{productPrice(text='fsdf',price='34')}}
                </div>

                <div class=" w-full mt-10">
                    <button class="btn-order rounded-full w-full py-3 font-base text-lg">اطلب الان</button>
                </div>

            </form>
            </div>
        </div>
    </div>

    <div class="containerNav mt-40 w-full ">
        <div class="w-full">
            <div class=" font-base text-2xl font-bold">تقييمات المستخدمين</div>
            <div class="flex gap-3 mt-3">
                <div class=" grid grid-columns-5 gap-1">
                    {% for opinion  in opinions%} 
                    {{opinions}}
                    {%endfor%}
                </div>
                <div class=" font-base text-base">لا يوجد تقييمات</div>
            </div>
            <div class=" font-base text-lg mt-10">شارك تقييمك</div>
            <div class="opinios-btn-container mt-6">
                <button class="opinios-btn outline-none   rounded-md w-full">تقييم</button>
            </div>
        </div>
    </div>
     </div>  
    </div>



{# end #}
</div>

 
 
 
 
 
 
 {% endblock %}