{% extends "layouts/layout.njk" %}
{% from "common/components/Policy.njk" import informations %}
{% block title %}متجرك - الصفحة الرئيسية{% endblock %}

{% block content %}
  <div class=" flex justify-center">
        <div class="  lg:w-6/12 w-10/12">
        <div class=" text-4xl font-bold my-6">سياسة الشحن</div>
          <ul class="">
               {{informations(list=["kh","lnl"])}}
          </ul>
        </div>
    </div>

     {% include "common/footer.njk" ignore missing %}

{% endblock %}