{% macro product(title, price, priceAfterDiscount, imageUrl,slug) %}
             <a href="product/{{slug}}" class="flex flex-col w-64  justify-between h-72 newCard rounded-lg">
            <div class=" h-2/3 rounded-lg flex w-full justify-center">
              <img class="rounded-lg h-full w-full object-fill" src="{{imageUrl}}" alt="" srcset="">
            </div>
            <div class=" p-3">
              <div class=" font-semibold">{{title}}</div>
              <div class=" flex font-semibold items-center text-lg gap-2"><span class=" line-through text-sm">{{priceAfterDiscount}}</span>{{price}}</div>
            </div>
          </a>
{% endmacro %}

{# swiper aboutProduct #}
{% macro aboutProduct(text)%}
       <li class="mt-1">{{text}}</li>
{% endmacro %}


{# swiper productPrice #}
{%macro productPrice(text,price="شحن مجاني")%}
        <div class="flex justify-between mt-3">
            <div class=" text-gray">{{text}}</div>
            <div class=" font-bold">{{price}}</div>
        </div>
{% endmacro %}

{# swiper mecro #}
{% macro swiperContent(img)%}
  <div class="swiper-slide">
    <img src="{{img}}" alt="" srcset="">
  </div>
{%endmacro%}


{# opinions mecro  #}
{%macro opinions(number)%}
 <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#d1d5db" aria-hidden="true"
                        class="text-gray-300 h-4 w-4 flex-shrink-0">
                        <path fill-rule="evenodd"
                            d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                            clip-rule="evenodd"></path>
                    </svg>
{%endmacro%}


{# rate mecro #}


{# swiper offer #}
{# {% macro offerProduct(offerTitle,listItems)%} #}

{# <div class="font-base font-bold"> #}
    {# {{ listItems | dump }} #}
    {# {{offerTitle}}
    
    </div>
    <div class=" text-gray select-dev w-10-12">
    <div class="custom-select-container w-full">
        <button class="select-button" id="select-button">
                {{listItems[0]}}
            <span class="arrow">&lt;&gt;</span>
        </button>
        <ul class="select-dropdown doc-none" id="select-dropdown">
            {# {%for listitem in listItems%}
            <li>{{listitem}}</li>
            {%endfor%} #}
        {# </ul> #}
    {# </div> #}

    {# </div> #}
{# </div> #} 
{# {% endmacro %} #}
