{%macro ListItem(text="")%}
  <li class="flex items-center gap-2 border-b my-1">
      <img class="w-5 h-5" src="images/left-arrow.png" alt="">
      <div class="py-2">{{text}}</div>
  </li>
{%endmacro%}