{%macro Swipper1(imgsUrl="")%}
             <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        {# {%for item in imgsUrl%} #}
                        <div class="swiper-slide cursor-pointer"><img src="{{imgsUrl}}"></div>
                        <div class="swiper-slide cursor-pointer"><img src="{{imgsUrl}}"></div>
                        <div class="swiper-slide cursor-pointer"><img src="{{imgsUrl}}"></div>
                        <div class="swiper-slide cursor-pointer"><img src="{{imgsUrl}}"></div>
                        <div class="swiper-slide cursor-pointer"><img src="{{imgsUrl}}"></div>
                        <div class="swiper-slide cursor-pointer"><img src="{{imgsUrl}}"></div>
                        <div class="swiper-slide cursor-pointer"><img src="{{imgsUrl}}"></div>
                        {# {%endfor%} #}
                    </div>
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
{%endmacro%}

{%macro Swipper2(imgsUrl="")%}
            <div class="swiper mySwiper3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide cursor-pointer"><img
                                class="border-2 py-6 px-3 border-green-800 rounded-lg" src="{{imgsUrl}}"></div>
                                                        <div class="swiper-slide cursor-pointer"><img
                                class="border-2 py-6 px-3 border-green-800 rounded-lg" src="{{imgsUrl}}"></div>
                                                        <div class="swiper-slide cursor-pointer"><img
                                class="border-2 py-6 px-3 border-green-800 rounded-lg" src="{{imgsUrl}}"></div>
                                                        <div class="swiper-slide cursor-pointer"><img
                                class="border-2 py-6 px-3 border-green-800 rounded-lg" src="{{imgsUrl}}"></div>
                                                        <div class="swiper-slide cursor-pointer"><img
                                class="border-2 py-6 px-3 border-green-800 rounded-lg" src="{{imgsUrl}}"></div>
                                                        <div class="swiper-slide cursor-pointer"><img
                                class="border-2 py-6 px-3 border-green-800 rounded-lg" src="{{imgsUrl}}"></div>
                                                        <div class="swiper-slide cursor-pointer"><img
                                class="border-2 py-6 px-3 border-green-800 rounded-lg" src="{{imgsUrl}}"></div>
                                                        <div class="swiper-slide cursor-pointer"><img
                                class="border-2 py-6 px-3 border-green-800 rounded-lg" src="{{imgsUrl}}"></div>
                    </div>
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
{%endmacro%}
