{%macro Swipper1(imgsUrl="")%}
             <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        {# {%for item in imgsUrl%} #}
                        <div class="swiper-slide flex justify-center cursor-pointer"><img src="{{imgsUrl}}"></div>
                        <div class="swiper-slide flex justify-center cursor-pointer"><img src="{{imgsUrl}}"></div>
                        <div class="swiper-slide flex justify-center cursor-pointer"><img src="{{imgsUrl}}"></div>
                        <div class="swiper-slide flex justify-center cursor-pointer"><img src="{{imgsUrl}}"></div>
                        <div class="swiper-slide flex justify-center cursor-pointer"><img src="{{imgsUrl}}"></div>
                        <div class="swiper-slide flex justify-center cursor-pointer"><img src="{{imgsUrl}}"></div>
                        <div class="swiper-slide flex justify-center cursor-pointer"><img src="{{imgsUrl}}"></div>
                        {# {%endfor%} #}
                    </div>
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
{%endmacro%}

{%macro Swipper2(imgsUrl="")%}
            <div class="swiper mySwiper3">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide cursor-pointer"><img
                                class="border-2 py-6 px-3 border-green-800 rounded-lg" src="{{imgsUrl}}"></div>
                                                        <div class="swiper-slide cursor-pointer flex justify-center"><img
                                class="border-2 py-6 px-3 border-green-800 rounded-lg" src="{{imgsUrl}}"></div>
                                                        <div class="swiper-slide cursor-pointer flex justify-center"><img
                                class="border-2 py-6 px-3 border-green-800 rounded-lg" src="{{imgsUrl}}"></div>
                                                        <div class="swiper-slide cursor-pointer flex justify-center"><img
                                class="border-2 py-6 px-3 border-green-800 rounded-lg" src="{{imgsUrl}}"></div>
                                                        <div class="swiper-slide cursor-pointer flex justify-center"><img
                                class="border-2 py-6 px-3 border-green-800 rounded-lg" src="{{imgsUrl}}"></div>
                                                        <div class="swiper-slide cursor-pointer flex justify-center"><img
                                class="border-2 py-6 px-3 border-green-800 rounded-lg" src="{{imgsUrl}}"></div>
                                                        <div class="swiper-slide cursor-pointer flex justify-center"><img
                                class="border-2 py-6 px-3 border-green-800 rounded-lg" src="{{imgsUrl}}"></div>
                                                        <div class="swiper-slide cursor-pointer flex justify-center"><img
                                class="border-2 py-6 px-3 border-green-800 rounded-lg" src="{{imgsUrl}}"></div>
                    </div>
                    <!-- <div class="swiper-pagination"></div> -->
                </div>
{%endmacro%}



{%macro Swipper3(name="",date="",rating='1',text="")%}
  <div class="swiper mySwiper2">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide ">
                                        <div class="flex justify-end gap-4">
                                            <div class="">
                                                <div class=" text-white">{{name}}</div>
                                                <div class=" text-gray-600 text-xs">{{date}}</div>
                                            </div>
                                            <div
                                                class="w-14 h-14 rounded-full bg-green-800 flex items-center justify-center text-white">
                                                ح</div>
                                        </div>
                                        <div class="bg-white rounded-md p-4 h-40 mt-4">
                                            <div class="flex justify-end">
                                              {% for i in range(1, 7) %}
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="{{ 'yellow' if i <= rating else '#d1d5db' }}" aria-hidden="true" class="text-gray-300 h-4 w-4 flex-shrink-0">
                                                <path fill-rule="evenodd"
                                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                        {% endfor %}
                                            </div>
                                        {{text}}
                                        </div>
                                    </div>
                                     <div class="swiper-slide ">
                                        <div class="flex justify-end gap-4">
                                            <div class="">
                                                <div class=" text-white">{{name}}</div>
                                                <div class=" text-gray-600 text-xs">{{date}}</div>
                                            </div>
                                            <div
                                                class="w-14 h-14 rounded-full bg-green-800 flex items-center justify-center text-white">
                                                ح</div>
                                        </div>
                                        <div class="bg-white rounded-md p-4 h-40 mt-4">
                                            <div class="flex justify-end">
                                              {% for i in range(1, 7) %}
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="{{ 'yellow' if i <= rating else '#d1d5db' }}" aria-hidden="true" class="text-gray-300 h-4 w-4 flex-shrink-0">
                                                <path fill-rule="evenodd"
                                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                                    clip-rule="evenodd"></path>
                                            </svg>
                                        {% endfor %}
                                            </div>
                                        {{text}}
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                                <div class=" text-center font-semibold my-1 text-white">Google rating score:4.6 of 5
                                </div>
                                <div class=" text-center text-white">based on <span class=" underline ">247
                                        reviews</span></div>
                            </div>
{%endmacro%}