<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Default Title{% endblock %}</title>
        {{ head | safe }}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Almarai&amp;display=swap">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
         <link rel="stylesheet" href="/css/style.css" >
         <link rel="stylesheet" href="/css/product.css" >
    </head>
</head>

<body style="background-color: white;overflow-x: hidden" dir="rtl">
    
        {% include "common/header.njk" ignore missing %}
            {% block content %}{% endblock %}
        {% include "common/footer.njk" ignore missing %}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/js/main.min.js"></script>
    
    {{ footer_scripts | safe }}
</body>
</html>